<div class="flex-container sidenav-content">
    <p>
      sidenav works!
    </p>
    <ul>
        <li>Sit</li>
        <li>nesciunt</li> 
        <li>commodi</li> 
        <li>in</li> 
        <li>nam</li> 
        <li>rem</li> 
        <li>quos.</li> 
        <li>Cum</li> 
        <li>distinctio</li> 
        <li>veniam</li> 
        <li>laudantium</li> 
        <li>necessitatibus</li> 
        <li>sapiente!</li> 
        <li>Maiores</li> 
        <li>consequatur</li> 
        <li>iusto</li> 
        <li>itaque</li> 
        <li>distinctio</li> 
        <li>facere</li> 
        <li>modi</li> 
        <li>reiciendis.</li> 
        <li>Cumque</li> 
        <li>autem</li> 
        <li>impedit</li> 
        <li>consequuntur</li> 
        <li>ducimus</li> 
        <li>deleniti</li> 
        <li>voluptates</li> 
        <li>maiores,</li>
        <li>officiis?</li>
    </ul>

    <ul>
        <li>Sit</li>
        <li>nesciunt</li> 
        <li>commodi</li> 
        <li>in</li> 
        <li>nam</li> 
        <li>rem</li> 
        <li>quos.</li> 
        <li>Cum</li> 
        <li>distinctio</li> 
        <li>veniam</li> 
        <li>laudantium</li> 
        <li>necessitatibus</li> 
        <li>sapiente!</li> 
        <li>Maiores</li> 
        <li>consequatur</li> 
        <li>iusto</li> 
        <li>itaque</li> 
        <li>distinctio</li> 
        <li>facere</li> 
        <li>modi</li> 
        <li>reiciendis.</li> 
        <li>Cumque</li> 
        <li>autem</li> 
        <li>impedit</li> 
        <li>consequuntur</li> 
        <li>ducimus</li> 
        <li>deleniti</li> 
        <li>voluptates</li> 
        <li>maiores,</li>
        <li>officiis?</li>
    </ul>
</div>
