<md-toolbar class="flex-container header" color="accent">
    <span *ngIf="!(auth$ | async)" class="login link flex-item">
        <small><a routerLink="/login" (click)='sidenavClose()'>Login</a></small>
    </span>
    
    <span *ngIf="(auth$ | async)" class="logout link flex-item">
        <small><a routerLink (click)="logout(); sidenavClose()">Logout</a></small>
    </span>

    <span class="flex-stretch flex-item"><!-- Space filler --></span>

    <span *ngIf="(auth$ | async)" class="logout link flex-item">
        <small><a routerLink="/user" (click)='sidenavClose()'>Hi {{ (name$ | async | firstname) }}</a></small>
    </span>

</md-toolbar>

<div class="flex-container sidenav-content">

    <md-nav-list>
        <a md-list-item (click)="sidenavClose()" routerLink="/">
            <md-icon md-list-icon>home</md-icon>
            <span md-line>Home</span>
        </a>

        <hr />
        <a md-list-item (click)="sidenavClose()" routerLink="/income">
            <md-icon md-list-icon>trending_up</md-icon>
            <span md-line>Income</span>
        </a>
        <a md-list-item (click)="sidenavClose()" routerLink="/expenses">
            <md-icon md-list-icon>trending_down</md-icon>
            <span md-line>Expenses</span>
        </a>
        <a md-list-item (click)="sidenavClose()" routerLink="/stock">
            <md-icon md-list-icon>pets</md-icon>
            <span md-line>Stock</span>
        </a>
        <a md-list-item (click)="sidenavClose()" routerLink="/vat">
            <md-icon md-list-icon>store</md-icon>
            <span md-line>VAT</span>
        </a>
        <a md-list-item (click)="sidenavClose()" routerLink="/tax">
            <md-icon md-list-icon>account_balance</md-icon>
            <span md-line>TAX</span>
        </a>

        <hr />
        <a md-list-item (click)="sidenavClose()" routerLink="/contact">
            <md-icon md-list-icon>person</md-icon>
            <span md-line>Contact</span>
        </a>
    </md-nav-list>

</div>

