.link {
    line-height: 2em;
}

a {
    .link & {
        &,
        &:active,
        &:visited {
            color: #DEF;
            text-decoration: none;
            cursor: pointer;
        },
        &:hover {
            color: #FFF;
        }
    }       
    
}

.header {
    display: flex;
    width: 100%;
}
