<md-toolbar class="flex-item" color="primary">
    <button md-icon-button (click)="sidenav.emit()">
        <md-icon>menu</md-icon>
    </button>

    <span class="flex-stretch"><!-- Fills remaining space in current row --></span>

    <span *ngIf="(auth$ | async)" class="logout link">
        <small>Hi {{ (name$ | async | firstname) }} | <a routerLink (click)="logout()">Logout</a></small>
    </span>
    <span *ngIf="!(auth$ | async)" class="login link">
        <small><a routerLink="/login">Login</a></small>
    </span>
</md-toolbar>
