<div class="flex-container header">
    <button md-icon-button (click)="sidenav.emit()" class="flex-item">
        <md-icon>menu</md-icon>
    </button>

    <span class="flex-item flex-stretch"><!-- Fills remaining space in current row --></span>

    <span *ngIf="(auth$ | async)" class="logout link flex-item">
        <small>Hi {{ (name$ | async | firstname) }} | <a routerLink (click)="logout()">Logout</a></small>
    </span>
    <span *ngIf="!(auth$ | async)" class="login link flex-item">
        <small><a routerLink="/login">Login</a></small>
    </span>
</div>
