<div class="form-container">
    <a id="goback" routerLink="/login">Go back</a>
    
    <h2>Join now</h2>

    <span class="error" *ngIf="error" [@fallIn]="state">{{ error }}</span>

    <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">

        <input class="txt" type="text" placeholder="Email address.." (ngModel)="email" name="email" required>
        <input class="txt" type="password" placeholder="Password" (ngModel)="password" name="password" required>
        
        <button class="basic-btn" type="submit" [disabled]="!formData.valid">Create my account</button>
    </form>
</div>
