<md-sidenav-container class="app-container">
    
    <md-sidenav #sidebar class="sidebar"
                [mode]="sidenavMode"
                [disableClose]="disableClose"> 
        <app-sidenav></app-sidenav>
    </md-sidenav>

    <app-header (sidenav)="sidenavToggle($event)"></app-header>
    <div class="flex-container app-content"
         fxLayoutAlign="start stretch"
         fxLayout="column"
         fxFlex.xs="100" 
         fxFlex.sm="90" 
         fxFlex.md="90" 
         fxFlex.lg="80" 
         fxFlex.xl="70"
         fxFill>
        <router-outlet></router-outlet>
    </div>

</md-sidenav-container>

