<md-sidenav-container>
<!--<div class="flex-container app-container" fxLayout="row" fxLayoutAlign="center start">
    <div class="flex-item flex-container app-root" 
         fxLayout="column" 
         fxLayoutAlign="start stretch" 
         fxFill
         fxFlex.xs="100" 
         fxFlex.sm="90" 
         fxFlex.md="80" 
         fxFlex.lg="70" 
         fxFlex.xl="60">-->
        <app-sidenav></app-sidenav>
        <app-header
            (sidenav)="sidenavToggle($event)"></app-header>
        <router-outlet></router-outlet>
    <!--</div>
        <div>-->
</md-sidenav-container>

